---
http_interactions:
- request:
    method: post
    uri: https://id.twitch.tv/oauth2/token
    body:
      encoding: UTF-8
      string: '{"client_id":"<CLIENT_ID>","client_secret":"<CLIENT_SECRET>","grant_type":"refresh_token","refresh_token":"foobar"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json
      x-ctxlog-logid:
      - 1-5fa3136b-183092843f44ddf567453bcd
    body:
      encoding: UTF-8
      string: '{"status":400,"message":"Invalid refresh token"}

        '
  recorded_at: Wed, 04 Nov 2020 20:47:39 GMT
recorded_with: VCR 6.0.0
