---
http_interactions:
- request:
    method: get
    uri: https://id.twitch.tv/oauth2/authorize?client_id=<CLIENT_ID>&redirect_uri=http%3A%2F%2Flocalhost&response_type=code&scope=user%3Aread%3Aemail+bits%3Aread
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      content-type:
      - text/html; charset=utf-8
      location:
      - https://www.twitch.tv/login?client_id=<CLIENT_ID>&redirect_params=client_id%3D<CLIENT_ID>%26redirect_uri%3Dhttp%253A%252F%252Flocalhost%26response_type%3Dcode%26scope%3Duser%253Aread%253Aemail%2Bbits%253Aread
      x-ctxlog-logid:
      - 1-609aff77-28a21a5109d3c63b122f70a7
    body:
      encoding: UTF-8
      string: "<a href=\"https://www.twitch.tv/login?client_id=<CLIENT_ID>&amp;redirect_params=client_id%3D<CLIENT_ID>%26redirect_uri%3Dhttp%253A%252F%252Flocalhost%26response_type%3Dcode%26scope%3Duser%253Aread%253Aemail%2Bbits%253Aread\">Found</a>.\n\n"
  recorded_at: Tue, 11 May 2021 22:04:39 GMT
- request:
    method: post
    uri: https://id.twitch.tv/oauth2/token
    body:
      encoding: UTF-8
      string: '{"client_id":"<CLIENT_ID>","client_secret":"<CLIENT_SECRET>","code":"<CODE>","grant_type":"authorization_code","redirect_uri":"http://localhost"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-ctxlog-logid:
      - 1-609aff9d-64fdeba11dd3dbce67cb8c65
    body:
      encoding: UTF-8
      string: '{"access_token":"<ACCESS_TOKEN>","expires_in":14977,"refresh_token":"<REFRESH_TOKEN>","scope":["bits:read","user:read:email"],"token_type":"bearer"}

        '
  recorded_at: Tue, 11 May 2021 22:05:17 GMT
recorded_with: VCR 6.0.0
