---
http_interactions:
- request:
    method: get
    uri: https://id.twitch.tv/oauth2/validate
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <ACTUAL_APPLICATION_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-ctxlog-logid:
      - 1-605a6a13-7145b75a67d3e5b93d002fdb
    body:
      encoding: UTF-8
      string: '{"client_id":"<CLIENT_ID>","scopes":[],"expires_in":5260737}

        '
  recorded_at: Tue, 23 Mar 2021 22:22:12 GMT
recorded_with: VCR 6.0.0
