---
http_interactions:
- request:
    method: post
    uri: https://id.twitch.tv/oauth2/token
    body:
      encoding: UTF-8
      string: '{"client_id":null,"client_secret":null,"code":null,"grant_type":"client_credentials","redirect_uri":"http://localhost"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json
      x-ctxlog-logid:
      - 1-605a70de-2ca29b8d60c0bb546704d38f
    body:
      encoding: UTF-8
      string: '{"status":400,"message":"missing client id"}

        '
  recorded_at: Tue, 23 Mar 2021 22:51:10 GMT
recorded_with: VCR 6.0.0
