---
http_interactions:
- request:
    method: get
    uri: https://id.twitch.tv/oauth2/validate
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 9y7bf00r4fof71czggal1e2wlo50q3
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      content-type:
      - application/json
      x-ctxlog-logid:
      - 1-605a6a0d-5d4bc3d47caa64df087bb885
    body:
      encoding: UTF-8
      string: '{"status":401,"message":"invalid access token"}

        '
  recorded_at: Tue, 23 Mar 2021 22:22:05 GMT
- request:
    method: post
    uri: https://id.twitch.tv/oauth2/token
    body:
      encoding: UTF-8
      string: '{"client_id":"<CLIENT_ID>","client_secret":"<CLIENT_SECRET>","grant_type":"refresh_token","refresh_token":null}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json
      x-ctxlog-logid:
      - 1-605a6a0e-06f5034d19415c1669a16d18
    body:
      encoding: UTF-8
      string: '{"status":400,"message":"missing refresh token"}

        '
  recorded_at: Tue, 23 Mar 2021 22:22:06 GMT
recorded_with: VCR 6.0.0
