---
http_interactions:
- request:
    method: post
    uri: https://id.twitch.tv/oauth2/token
    body:
      encoding: UTF-8
      string: '{"client_id":"<CLIENT_ID>","client_secret":"<CLIENT_SECRET>","code":null,"grant_type":"authorization_code","redirect_uri":"http://localhost"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json
      x-ctxlog-logid:
      - 1-605706c2-543731b0388f31c17b2dfdd4
    body:
      encoding: UTF-8
      string: '{"status":400,"message":"missing code"}

        '
  recorded_at: Sun, 21 Mar 2021 08:41:38 GMT
recorded_with: VCR 6.0.0
