---
http_interactions:
- request:
    method: get
    uri: https://id.twitch.tv/oauth2/validate
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <ACTUAL_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-ctxlog-logid:
      - 1-605a6a05-323a11cb7750de4e76121420
    body:
      encoding: UTF-8
      string: '{"client_id":"<CLIENT_ID>","login":"streamassistantbot","scopes":["bits:read","channel:moderate","channel_commercial","channel_editor","channel_read","channel_stream","chat:edit","chat:read","user:read:email","user_blocks_edit","user_read"],"user_id":"277558749","expires_in":13008}

        '
  recorded_at: Tue, 23 Mar 2021 22:21:58 GMT
recorded_with: VCR 6.0.0
