---
http_interactions:
- request:
    method: get
    uri: https://id.twitch.tv/oauth2/validate
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <ACTUAL_APPLICATION_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-ctxlog-logid:
      - 1-5fa31315-79d2846a6fa99de80a957fd6
    body:
      encoding: UTF-8
      string: '{"client_id":"<CLIENT_ID>","scopes":[],"expires_in":5641660}

        '
  recorded_at: Wed, 04 Nov 2020 20:46:14 GMT
recorded_with: VCR 6.0.0
