---
http_interactions:
- request:
    method: get
    uri: https://id.twitch.tv/oauth2/authorize?client_id=<CLIENT_ID>&redirect_uri=http%3A%2F%2Flocalhost%2F&response_type=code&scope=user%3Aread%3Aemail+bits%3Aread
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      content-type:
      - text/html; charset=utf-8
      location:
      - https://www.twitch.tv/login?client_id=<CLIENT_ID>&redirect_params=client_id%3D<CLIENT_ID>%26redirect_uri%3Dhttp%253A%252F%252Flocalhost%252F%26response_type%3Dcode%26scope%3Duser%253Aread%253Aemail%2Bbits%253Aread
      x-ctxlog-logid:
      - 1-5e811487-935276e75c1dc7cdfbac20c3
    body:
      encoding: UTF-8
      string: "<a href=\"https://www.twitch.tv/login?client_id=<CLIENT_ID>&amp;redirect_params=client_id%3D<CLIENT_ID>%26redirect_uri%3Dhttp%253A%252F%252Flocalhost%252F%26response_type%3Dcode%26scope%3Duser%253Aread%253Aemail%2Bbits%253Aread\">Found</a>.\n\n"
  recorded_at: Sun, 29 Mar 2020 21:35:03 GMT
- request:
    method: post
    uri: https://id.twitch.tv/oauth2/token
    body:
      encoding: UTF-8
      string: client_id=<CLIENT_ID>&client_secret=<CLIENT_SECRET>&code=<CODE>&grant_type=authorization_code&redirect_uri=http%3A%2F%2Flocalhost%2F
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-ctxlog-logid:
      - 1-5e81149d-6ae1e0196f99d51dd95657ed
    body:
      encoding: UTF-8
      string: '{"access_token":"<ACCESS_TOKEN>","expires_in":13673,"refresh_token":"<REFRESH_TOKEN>","scope":["bits:read","user:read:email"],"token_type":"bearer"}

        '
  recorded_at: Sun, 29 Mar 2020 21:35:26 GMT
recorded_with: VCR 5.1.0
