---
http_interactions:
- request:
    method: post
    uri: https://id.twitch.tv/oauth2/token
    body:
      encoding: UTF-8
      string: '{"client_id":null,"client_secret":null,"code":null,"grant_type":"client_credentials","redirect_uri":"http://localhost"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json
      x-ctxlog-logid:
      - 1-5fcaa28e-69eae7e87aa6ac8a3910ad34
    body:
      encoding: UTF-8
      string: '{"status":400,"message":"missing client id"}

        '
  recorded_at: Fri, 04 Dec 2020 20:56:46 GMT
recorded_with: VCR 6.0.0
