---
http_interactions:
- request:
    method: get
    uri: https://id.twitch.tv/oauth2/validate
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 9y7bf00r4fof71czggal1e2wlo50q3
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      content-type:
      - application/json
      x-ctxlog-logid:
      - 1-605a7029-26c41cb83ed6f70f3d81378d
    body:
      encoding: UTF-8
      string: '{"status":401,"message":"invalid access token"}

        '
  recorded_at: Tue, 23 Mar 2021 22:48:09 GMT
- request:
    method: post
    uri: https://id.twitch.tv/oauth2/token
    body:
      encoding: UTF-8
      string: '{"client_id":"<CLIENT_ID>","client_secret":"<CLIENT_SECRET>","grant_type":"refresh_token","refresh_token":null}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json
      x-ctxlog-logid:
      - 1-605a702a-2417330425ed5d1341663e8b
    body:
      encoding: UTF-8
      string: '{"status":400,"message":"missing refresh token"}

        '
  recorded_at: Tue, 23 Mar 2021 22:48:10 GMT
recorded_with: VCR 6.0.0
