---
http_interactions:
- request:
    method: post
    uri: https://id.twitch.tv/oauth2/token
    body:
      encoding: UTF-8
      string: '{"client_id":"<CLIENT_ID>","client_secret":"<CLIENT_SECRET>","grant_type":"refresh_token","refresh_token":"foobar"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json
      x-ctxlog-logid:
      - 1-5e89dfd0-20ca745ad2657239414b8081
    body:
      encoding: UTF-8
      string: '{"status":400,"message":"Invalid refresh token"}

        '
  recorded_at: Sun, 05 Apr 2020 13:40:32 GMT
recorded_with: VCR 5.1.0
