---
http_interactions:
- request:
    method: post
    uri: https://id.twitch.tv/oauth2/token
    body:
      encoding: UTF-8
      string: '{"client_id":"<CLIENT_ID>","client_secret":"<CLIENT_SECRET>","code":null,"grant_type":"authorization_code","redirect_uri":"http://localhost"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json
      x-ctxlog-logid:
      - 1-5fcaa27d-54e65fcd45f56b0c11be6687
    body:
      encoding: UTF-8
      string: '{"status":400,"message":"missing code"}

        '
  recorded_at: Fri, 04 Dec 2020 20:56:29 GMT
recorded_with: VCR 6.0.0
